iframe.spSidebar {
    width: 100%;
    height: 100%;
}

.spSidePanel {
    position : fixed;
    top      : 0;
    right    : 0;
    height   : 100%;
    width    : 50%;
    overflow : hidden;
    resize   : horizontal;
    direction: rtl;
}

.spSidePanel:after {
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 15px;
    width: 50px;
}

#spSlackPanel {
    z-index  : 99999;
}

#spGdocPanel {
    z-index  : 999;
}
